<footer>

    <div class="cols_footer">

        <div class="col_footer1">

            <div class="conj_contact">
                <!--logo-->
                <div class="insignia">
                    <img src="{{ asset(get_config('site_logo')) }}" class="img_cem">
                </div>
                <div class="nome_site">
                    <div class="nome1">{{ tradutor([ 'en' => 'EMBASSY OF THE REPUBLIC', 'hr' => 'A KÖZTÁRSASÁG NAGYKÖVETSÉGE', 'pt-br' =>'EMBAIXADA DA REPÚBLICA' ]) }}</div>
                    <!--fixo-->
                    <div class="nome2">{{ tradutor([ 'en' => 'OF ANGOLA IN HUNGARY', 'hr' => 'ANGOLA MAGYARORSZÁGON', 'pt-br' => 'DE ANGOLA NA HUNGRIA' ]) }}</div>
                    <!--fixo-->
                </div>
            </div>

            <div class="social_icons">
                <a href="" target="_blank">
                    <div class="icon_social">
                        <img src="img/icons/whatsapp.png" class="img_cem">
                    </div>
                </a>
                <a href="" target="_blank">
                    <div class="icon_social">
                        <img src="img/icons/telegram.png" class="img_cem">
                    </div>
                </a>
                <a href="" target="_blank">
                    <div class="icon_social">
                        <img src="img/icons/instagram.png" class="img_cem">
                    </div>
                </a>
                <a href="" target="_blank">
                    <div class="icon_social">
                        <img src="img/icons/facebook.png" class="img_cem">
                    </div>
                </a>
                <a href="" target="_blank">
                    <div class="icon_social">
                        <img src="img/icons/youtube.png" class="img_cem">
                    </div>
                </a>
            </div>

        </div>

        <div class="col_footer2">
            <div class="line1">

                <div class="conj_contact">
                    <div class="icon_contact"><img src="img/icon/local.png" class="img_cem"></div>
                    <div class="text_contact">
                        Rua 51, nº 539 (Urbanização Harmonia) Lar do Patriota - Município de Talatona, Luanda, Angola
                    </div>
                </div>

            </div>

            <div class="line2">

                <div class="conj_contact">
                    <div class="icon_contact"><img src="img/icon/fone.png" class="img_cem"></div>
                    <div class="text_contact">
                        +244 925 539 110
                    </div>
                </div>

            </div>

            <div class="line2">

                <div class="conj_contact">
                    <div class="icon_contact"><img src="img/icon/mail.png" class="img_cem"></div>
                    <div class="text_contact">
                        info@organizacaoatos.org
                    </div>
                </div>

            </div>

        </div>

    </div>
</footer>
<div class="footer2">
    <div class="copyright">Embaixada da Angola na Hungria
        <?php echo date('Y'); ?>. Todos os direitos reservados.</div>
    <div class="dev">
        <a href="http://www.tacticweb.com.br" target="_blank">
            <div class="logo_dev">
                <img src="img/tacticweb.png" class="img_cem">
            </div>
        </a>

    </div>
</div>